<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicalharmonies">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Gospel Activity -->
        <activity
            android:name=".GospelActivity"
            android:label="@string/category_gospel">

                <!-- This creates a back button in this activity.
                When clicked, it will take you to the Main Activity -->
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity" />
        </activity>


        <!-- Pop Activity -->
        <activity
            android:name=".PopActivity"
            android:label="@string/category_pop" >

            <!-- This creates a back button in this activity.
            When clicked, it will take you to the Main Activity -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- R&B Activity -->
        <activity
            android:name=".RnBActivity"
            android:label="@string/category_rnb" >

            <!-- This creates a back button in this activity.
            When clicked, it will take you to the Main Activity -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Instrumental Activity -->
        <activity
            android:name=".InstrumentalActivity"
            android:label="@string/category_instrumental" >

            <!-- This creates a back button in this activity.
            When clicked, it will take you to the Main Activity -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

    </application>

</manifest>